.avatar-circle {
  width: 20px;
  height: 20px;
  
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
}

.initials {
  position: relative;
  top: 0px; /* 25% of parent */
  font-size: 10px; /* 50% of parent */
  line-height: 10px; /* 50% of parent */
  color: #fff;
  font-weight: bold;
}

.in-purple{
	background-color: #7266ba;
}

.in-green{
	background-color: #27c24c;
}

.in-orange{
	background-color: #ff902b;
}
.in-red{
	background-color: #f05050;
}
.in-yellow{
	background-color: #fad732;
}
.in-pink{
	background-color: #f532e5;
}
.with-border{border-bottom:1px solid #f4f4f4;}
.padding-top-3{padding-top:3px;}
.margin-right-5{margin-right:5px;}
.select2-container--default .select2-selection--single{background-color:#fff;border-radius:0px;border:1px solid #d2d6de;height:34px;}
.select2-dropdown{border:1px solid #d2d6de;}
.select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:0px;padding-right:20px;}
.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #23b7e5;}
.select2-container--default.select2-container--focus .select2-selection--multiple{border:1px solid #23b7e5;height:34px;}
.select2-container--default .select2-selection--multiple{border-color:#d2d6de;border-radius:0px;height:34px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#23b7e5;border-color:#19a9d5;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#204d74;}
.select2-selection .select2-selection--multiple{border-radius:0px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{top:4px;}
.select2-selection--single:focus{border-color:#23b7e5;box-shadow:none;}